body {
    background-image: url("img/gordos.png") !important;
    color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
}


.contaiiner {
    background-color: #5200FF; 
    border: 2px solid #fff; 
    border-radius: 70px; 
    padding: 20px;
    width: 1875%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.principal{
    margin-left: 90%;
}

.col-sm-8 {
    margin-right: 50%;
    height: 90%;

}

.saude{
    margin-right: 70%;
    color: #5200FF;
}

.mente {
    margin-right: 70%;
    color: rgba(82, 0, 255, 0.51)
}

.cabecalho {
    background-image: url("../img/gordos.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20em;
}

.contaiiner h2 {
    color: #fff;
    text-align: left;
    margin-bottom: 1px;

}

.contaiiner p {
    color: rgba(255, 255, 255, 0.69);
    text-align: left;
    font-weight: bold;
}

.input-group {
    margin-bottom: 15px;
}

.tudo {
        position: relative;
        width: 100%;
        max-width: 3750%;
}

.tudo img {
        width: 100%;
    }

.input-group label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 70px;
    box-sizing: border-box;
}

.input-group input[type="password"] {
    margin-bottom: 20px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #5200FF;
    border-radius: 70px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #ddd;
}

.container {
    background-color: #4b2991;
    padding: 40px;
    border-radius: 70px;
    margin-top: 30px;
}

h1, h2 {
    color: #4b2991;
    text-align: center;
}

.ap {
    text-align: left;

}

.btn-calcular {
    background-color: #000000;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;

}

.espaco-branco {
    height: 600px !important;
    background-color: rgb(255, 255, 255);
    margin-top: 90px; 
}

.div{
    margin-left: 30%;
    color: rgba(82, 0, 255, 0.63);
}

.titulado{
    color: rgba(82, 0, 255, 0.63);
    height: 3em;
    text-align: center !important;
}

.titulado2{
    color: #5200FF;
    
}
.titulado3{
    color:rgba(82, 0, 255, 0.63);
    text-align: center !important;
    margin-left: 50%;
}

.subtitulado{
    color: rgba(82, 0, 255, 0.63);
    justify-content: center !important;
}

.contaiiiner {
    background-color: #ffffff; 
    border: 2px solid #ffffff; 
    border-radius: 70px; 
    padding: 20px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.imc-calculator {
    background-color: #5200FF;
    padding: 20px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

.alturaa{
    margin-left: 3%;
}

.pesoo{
    margin-left: 30%;
}

.imc-calculator input[type="number"] {
    padding: 12px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    width: 250px;
    text-align: center;
}

.imc-calculator button {
    background-color: #4b2991 ;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #5200FF;
    margin-top: 20px;
    font-weight: bold;
}
